body {
    background-color: #8593A6;
}

.logo {
    width: 200px;
    display: inline-block;
    position: left;
    margin: 0 50px 60px 40px;
}

h1 {
    float: right;
    width: 70%;
    padding: 40px;
    background-color: #2F3A59;
    color: white;
    font-size: 40pt;
}

#atencao {
    margin: 0px 10px 10px 150px;
    font-size: 15pt;
    font-weight: bold;
    color: #2F3A59;
}

.container-input {
    display: flex;
}

#saida-texto {
    width: 500px;
    height: 250px;
    margin: 10px 50px 10px 150px;
    border-radius: 10px;
    border: none;
    font-size: 15pt;
}

#entrada-texto {
    width: 500px;
    height: 250px;
    margin: 10px 50px 0px 150px;
    font-size: 15pt;
    border-radius: 10px;
}

.imagem {
    float: right;
    width: 250px;
    height: 250px;
    margin: 10px 30px 10px 250px;
    border: 1px solid;
    border-radius: 15px;
}

.btn1 {
    font-size: 15px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #0D0D0D;
    background-color: #738CBF;
    border-radius: 20px;
    margin: 10px 50px 10px 220px;
    cursor: pointer;
}

.btn1:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.btn2 {
    font-size: 15px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #0D0D0D;
    background-color: #738CBF;
    border-radius: 20px;
    margin: 10px 60px 10px 0px;
    cursor: pointer;
}

.btn2:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#copiar {
    font-size: 15px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #0D0D0D;
    background-color: #738CBF;
    border-radius: 20px;
    margin: 40px 0px 40px 380px;
    cursor: pointer;
}

#copiar:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

footer {
    text-align: center;
    margin: 80px 0px 50px 0px;
    color: #2F3A59;
    font-style: italic;
    font-size: 13pt;
    font-weight: bold;

}